<a href="https://colab.research.google.com/github/ArchitKandu/Tools_and_Techniques/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUES-1

In [1]:
# WAP to display your name, rollno, age and hometown
print('\nName: Archit Kandu')
print('RollNo.: 20051924')
print('Age: 19')
print('Hometown: Bhairahawa, Nepal\n')

Name: Archit Kandu
RollNo.: 20051924
Age: 19
Hometown: Bhairahawa, Nepal

# QUES-2

In [2]:
# WAP to check if 'AM' is present in 'I AM A STUDENT OF KIIT UNIVERSITY'
string = "I AM A STUDENT OF KIIT UNIVERSITY"
result = string.find('AM')
if result != -1:
    print('\nAM is Present\n')
else:
    print('\nAM is not Present\n')

AM is Present

# QUES-3

In [3]:
# WAP to find curved surface area of cylinder
r = int(input('\nEnter radius: '))
h = int(input('Enter height: '))
csa = 2*(22/7)*r*h
print('CSA of cylinder is: ',csa, 'square units\n')

Enter radius: 7
Enter height: 2
CSA of cylinder is:  88.0 square units

# QUES-4

In [4]:
# WAP to slice a given string from 9 to 13 (HOCKEY WORLDCUP)
string1 = 'HOCKEY WORLDCUP'
print(string1[9:13],'\n')

RLDC

# QUES-5

In [5]:
# WAP to check minimum of 5 numbers (user input)
min = 99999
for i in range(0,5):
    ele = int(input('Enter number: '))
    if min > ele:
        min = ele
print('\nMinimum is: ',min)

Enter number: 20
Enter number: 30
Enter number: 40
Enter number: 10
Enter number: 15

Minimum is:  10

# QUES-6

In [6]:
# WAP to convert celsius to farenheit
cel = float(input('\nEnter temperature in celsius: '))
faren = ((9/5) * cel) + 32
print(cel,'C =',"{:.2f}".format(faren),'F\n')

Enter temperature in celsius: 37
37.0 C = 98.60 F

# QUES-7

In [7]:
# Assign 4 string values to variable A,B,C,D. WAP to concatenate the 4 variable with space between 2 subsequent
A = "First"
B = "Second"
C = "Third"
D = "Fourth"
print('\nConcatenated String:'," ".join([A,B,C,D]))

Concatenated String: First Second Third Fourth

# QUES-8

In [8]:
# WAP to perform all arithematic operation between two float numbers
f1 = float(input('\nEnter 1st Number: '))
f2 = float(input('Enter 2nd Number: '))
print('\nAdd:',"{:.2f}".format(f1 + f2))
print('Sub:',"{:.2f}".format(f1 - f2))
print('Mul:',"{:.2f}".format(f1 * f2))
print('Div:',"{:.2f}".format(f1 / f2))
print('Mod:',"{:.2f}".format(f1 % f2),'\n')

Enter 1st Number: 3.7
Enter 2nd Number: 2.3

Add: 6.00
Sub: 1.40
Mul: 8.51
Div: 1.61
Mod: 1.40

# QUES-9

In [14]:
#WAP to take input from user in rupees and find its equivalent in dollar and factorial of it in euro
rups=int(input("Rupees: "))
dollar = rups * 0.012
fac = 1
for i in range(1,rups+1):
  fac = fac*i
euro = fac * 0.011
print("Dollar: ",dollar)
print("Euro: ",euro)

Rupees: 100
Dollar:  1.2
Euro:  1.0265883698833855e+156

# QUES-10

In [13]:
#WAP to print a fibonacci sequence by taking term input from the user
n = int(input("Number of terms: "))
a=0
b=1
count=0
if n==1:
  print("Fibonacci Series: ")
  print(a)
else:
  print("Fibonacci Series: ")
  while count < n:
    print(a)
    x=a+b
    a=b
    b=x
    count=count+1

Number of terms: 6
Fibonacci Series:
0
1
1
2
3
5